<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>DomiciliosApp</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // This example displays a marker at the center of Australia.
      // When the user clicks the marker, an info window opens.
      var markers
      var map
      var markersImages
      var domiciliarios

      function initMap() {

        markersImages = ["http://ing3ns.com/deone/images/marker0.png","http://ing3ns.com/deone/images/marker1.png","http://ing3ns.com/deone/images/marker2.png"]
        var uluru = {lat: 1.215364, lng: -77.278325}
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });

        if('<%=tipo%>'== 'single'){
          fetch('http://146.71.79.215:3002/domicilios/domiciliario/'+'<%=datos%>',{
            method: 'GET'
          })
          .then(res => res.json())
          .then(data => {
            loadMap([data])
          })
        }else if('<%=tipo%>'== 'multiple'){

          var formData = new FormData();
          formData.append("state", '<%=datos%>');
          fetch('http://146.71.79.215:3002/domicilios/domiciliario/search',{
            method: 'POST',
            body: JSON.stringify({
                state: '<%=datos%>'
            })
          })
          .then(res => res.json())
          .then(data => {
            loadMap(data)
          })
        }else{
          fetch('http://146.71.79.215:3002/domicilios/delivery/search/domiciliarios/'+'<%=datos%>',{
            method: 'GET'
          })
          .then(res => res.json())
          .then(data => {
            loadMap(data)
          })
        }
      }

      function loadMap(doms){

        domiciliarios = doms
        console.log(domiciliarios)
        var infoArray = new Array(domiciliarios.length)
        markers = new Array(domiciliarios.length)
        var info = new google.maps.InfoWindow()

        for(i=0; i<domiciliarios.length; i++){

          var icono = {
              url: markersImages[domiciliarios[i].state], // url
              scaledSize: new google.maps.Size(50, 50), // scaled size
          }
          markers[i] = new google.maps.Marker({
            position: domiciliarios[i].position,
            map: map,
            title: domiciliarios[i].phone,
            icon: icono,
            info: new google.maps.InfoWindow({
              content: domiciliarios[i].name
            })
          })

          google.maps.event.addListener(markers[i], 'click',function(){
            this.info.open(map,this)
          })
        }

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4tPF0Km-EZCrbiHCmt3yOFx-s9EMLlBs&callback=initMap">
    </script>
  </body>
</html>
